$H1Size: 4rem;
$H2Size: 3rem;
$H1Size: 2rem;
$PSsize: 1rem;

$HeaderMargin: 20px;
$HeaderBG: rgba(255, 255, 255, 0.7);

@font-face {
    font-family: 'PixelFont';
    src: url("../PixelFont/px10.ttf") format("truetype");
}

$MainFont: 'PixelFont';