@inherits LayoutComponentBase

<header>
    <h1>CurrysoftGames</h1>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Games</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
</header>

@Body